body{
      font-family: Arial, Helvetica, sans-serif;
      background-color:#ebe6c0;
      margin:0%;
      text-align: justify;
    }
    header{
        background-color:#000000;
        padding: 30px 0px;
        margin: 0px;
        color: #E8C766;
    }

    .linha-divisoria{
      border-bottom: 1px solid rgba(232, 199, 102, 0.3);
      width: 100%;
}
    nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      padding-bottom: 10px;
      
    }

    .menu{
      display: flex;
      gap: 25px;
    }   

    .menu a{
      color: #F5EFE0;
      text-decoration: none;
      font-size: 13px;
    } 
    .menu .inicio{
      color: #C9A227;
    }
    .botao-whatsapp{
      display: inline-block;
      background-color: #C9A227;
      color: #000000;
      padding: 10px 18px;
      text-decoration: none;
      font-size: 12px;
      border-radius: 8px;
      width: 100px;
      text-align: center;
    }  
    .banner{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 100px;
      max-width: 1200px;
      margin: 0 auto;
      padding: 60px 0;
    } 
    .coluna-texto{
      max-width: 480px;
      padding: 20px 0;
    }
    .texto .localizacao{
      color:#C9A227;
      font-size: 14px;
      margin-bottom: 15px;
    }
    .texto h1{
      color: #F5EFE0;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 42px;
      font-weight: lighter;
      max-width: 600px;
    }
    .texto p{
      color: #F5EFE0;
      font-size: 13px;
    } 
    .avaliacao{
      display: flex;
      align-items: center;
      gap: 8px;
      color: #F5EFE0;
      margin-bottom: 20px;
    }
    .estrela{
      color: #C9A227;
    }
    .botoes-home{
      display: flex;
      gap: 15px;
      margin-top: 25px;
    }
    .botao-principal{
      display: inline-block;
      background-color: #C9A227;
      color: #0D0D0D;
      padding: 12px 20px;
      text-decoration: none;
      font-size: 13px;
      border-radius: 8px;
    }
    .botao-segundario{
      display: inline-block;
      border: 1px solid #C9A227;
      color: #E8C766;
      padding: 12px 20px;
      text-decoration: none;
      font-size: 13px;
      border-radius: 8px;
    }
    .info-loja{
      display: flex;
      gap: 25px;
      font-size: 14px;
      color: #E8C766;
      margin-top: 20px;
    }
    .info-loja span{
      display: flex;
      align-items: center;
      gap: 6px;
    }
    .coluna-imagem{
      position: relative;
      max-width: 500px;
    }
    .coluna-imagem img{
      width: 80%;
      height: auto;
      object-fit: cover;
      border-radius: 16px;
      display: block;
    }
    .citacao{
      position: absolute;
      bottom: -20px;
      left: 20px;
      background:#F5EFE0;
      padding: 10px 30px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.3);
      max-width: 280px;
      font-style: italic;
      color: #3D2B1F;
    }
    .citacao span{
     display: block;
     margin-top: 8px;
     font-style: normal;
     font-size: 12px;
     color: #3D2B1F;
     opacity: 0.7;
    }

    section.cardapio{
      background-color: #ebe6c0;
      color: #000000;
      padding: 80px 40px;
      max-width: 1200px;
      margin: 0 auto;
    }
    .cardapio .subtitulo{
      color: #3D2B1F;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
    .cardapio .titulo{
      color: #241b15;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 32px;
      font-weight: normal;
      margin-bottom: 40px;
    }
    .grade{
      display: flex;
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
    }
    .categorias{
    background-color: #F5EFE0;
    border-radius: 12px;
    padding: 25px;
    flex: 1;
    text-align: left;
    box-shadow: 0 4px 12px rgb(172, 150, 116);
    }
    .categorias .icone{
      color:#3D2B1F;
      display: block;
      width: 28px;
      height: 28px;
      margin-bottom: 15px;
    }
    .categorias h3{
      color: #3D2B1F;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 17px;
      font-weight: normal;
      margin-bottom: 8px;
    }
    .categorias .p{
      color: #6b5c4f;
      font-size: 13px;
      line-height: 1.5;
    }
    .imagens{
      padding: 60px 40px;
    }
    .galeria{
      display: flex;
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
    }
    .item-galeria{
      flex: 1;
      background-color: #ffffff;
      border-radius: 16px;
      overflow: hidden;
      box-shadow: 0 4px 12px rgb(172, 150, 116);
    }
    .item-galeria img{
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: center;
      display: block;
    }
    .item-galeria p{
      padding: 5px 20px 20px;
      color: #6b5c4f;
      font-size: 13px;
      line-height: 1.5;
    }
    section.comentarios-google{
      background-color: #ebe6c0;
      padding: 80px 40px;
      max-width: 1200px;
      margin: 0 auto;
    }
    .comentarios-google .subtitulo{
      color: #3D2B1F;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
    .comentarios-google .titulo{
      color: #241b15;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 32px;
      font-weight: normal;
      margin-bottom: 40px;
    }
    .grade-google{
      display: flex;
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
    }
    .comentarios{
      background-color: #F5EFE0;
      border-radius: 12px;
      padding: 25px;
      flex: 1;
      text-align: left;
      box-shadow: 0 4px 12px rgb(172, 150, 116);
      }
      .comentarios h3{
        font-size: 15px;
        color: #3D2B1F;
        line-height: 1.5;
      }

    section.encomenda{
      background-color:#E8C766;
      color: #0D0D0D;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      font-weight: bold;
      border-radius: 15px;
      margin: 50px auto 150px;
      padding: 0 40px;
    }
    .encomenda-texto{
      position: relative;
      margin: 20px 60px 10px;
      padding: 20px 0;
    }
          
    .encomenda-texto p{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: lighter;
      font-size: 25px;
      margin: 0 0 0;
    }

    .encomenda-texto h4{
      font-size: 12px;
      font-weight: normal;
      margin: 5px 0 0;
    }

    .botaoWhatsapp{
      color: #C9A227;
      background-color: #000000;
      padding: 12px 20px;
      text-decoration: none;
      font-weight: normal;
      margin: 20px 50px 10px;
      border-radius: 15px;
    }
    footer{
      background-color: #0D0D0D;
      color:#F5EFE0;
      padding: 50px 60px;
    }

    .informações{
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      gap: 50px;
      max-width: 1100px;
      margin: auto;
    }
    .informações h4{
      color: #E8C766;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      margin-bottom: 15px;
    }

    .informações .marca h4{
      color: #E8C766;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 20px;
      margin-bottom: 15px;
    }

    .informações p{
      font-size:13px ;
      line-height: 1.6;
      max-width: 280px;
    }
    .informações span{
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 13px;
      color: #E8C766;
      max-width: 280px;
    }
    .informações span p{
      color: #F5EFE0;
      font-size: 12px;
    }
    .informações span svg{
      flex-shrink: 0;
    }
    
    .navegação a{
      display: block;
      color: #F5EFE0;
      text-decoration: none;
      font-size: 13px;
      margin-bottom: 12px;
    } 
    .institucional a{
      display: block;
      color: #F5EFE0;
      text-decoration: none;
      font-size: 13px;
      margin-bottom: 12px;
    }